<div>

<h1>Hiking Calories Calculator</h1>

<h2> Pick a trail: </h2>
<select id="trail-selector">
  <option value="10207801">Cataract Falls Trail</option>
  <option value="10033941">Estes Cone</option>
  <option value="10034022" selected>Granite Mountain Trail</option>
  <option value="10035772">Runyon Canyon Trail</option>
  <option value="10029035">Tennessee Valley Trail</option>
</select>


<h3> You will burn: </h3>

<h3> You will finish your trail in: </h3>

</div>
<% @js_manifest = "calculator" %>